{{#if isEditing}}
 {{textarea value=value name=name rows=rows cols=cols placeholder=placeholder disabled=disabled maxlength=maxlenght tabindex=tabindex selectionEnd=selectionEnd selectionStart=selectionStart selectionDirection=selectionDirection wrap=wrap 
autofocus=autofocus form=form spellcheck=spellcheck required=required focus-out="blur"}}
{{else}}
 <p>{{value}}</p>
{{/if}}
